<h2 class="chapter">2021-2022 учебный год</h2>
<div class="title">
    <a href="/src/index.html">Главная</a>
    /
    <a href="/src/pages/FK.html">Физическая культура</a>
    /2021-2022 учебный год
</div>
<div>
    <div class="box">
        Уроки
    </div>
    <div class="box">
        Учебные программы
    </div>
    <div class="box">
        Расписание
    </div>
</div>
<div>
    <div class="box">
        Документация
    </div>
    <div class="box">
        Учебно-методические разработки
    </div>
</div>