<header>
        <h1 class="header">УЧЕБНО-ФИЗКУЛЬТУРНОЕ ОБЪЕДИНЕНИЕ <br>УДМУРТСКОГО КАДЕТСКОГО КОРПУСА</h1>
        <nav>
            <ul class="navigation"> 
                <app-btn-nav *ngFor="let btn of btns" title={{btn.title}} routerLink={{btn.link}}></app-btn-nav>
                <!-- <app-btn-nav title="Физическая культура" routerLink="fk"></app-btn-nav> -->
                <!-- <a href="pages/FK.html"><li>Физическая культура</li></a>
                <a href="pages/DO.html"><li>Доп. образование</li></a>
                <a href="pages/VSOH.html"><li>ВСОШ</li></a>
                <a href="pages/VPN.html"><li>Военно-патриотическое направление</li></a>
                <a href="pages/Photo_video_lib.html"><li>Медиатека</li></a>
                <a href="pages/contacts.html"><li>Контакты</li></a>
                <a href="pages/about_Us.html"><li>О нас</li></a>
                <a href="pages/coaches.html"><li>Тренерско-преподавательский состав</li></a>
                <a href="pages/Achievements.html"><li>Достижения</li></a> -->
            </ul>
        </nav>
</header>
